@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
/*----- BASE -----*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0d1117;
  color: #fff;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #fff;
}

section {
  padding-top: 120px;
  padding-bottom: 40px;
}

#particles-js {
  position: absolute;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
}

/*==============================================
/*==============================================
 SECTION TITLE
/*==============================================
/*=============================================*/
.section-title {
  position: relative;
  text-align: center;
  z-index: 1;
}
.section-title::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: calc(50% - 7px);
  bottom: -16px;
  border-radius: 50%;
  border: 3px solid #58a6ff;
}
.section-title h3 {
  font-weight: 700;
  text-transform: uppercase;
}
.section-title h3::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  left: calc(50% - 45px);
  bottom: -10px;
  background-color: #58a6ff;
}
.section-title h3:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  left: calc(50% + 15px);
  bottom: -10px;
  background-color: #58a6ff;
}

.button {
  padding: 0.8rem 2.2rem;
  font: normal 500 16px/20px "Poppins", sans-serif;
  position: relative;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#0d1117), to(#58a6ff));
  background: linear-gradient(to right, #0d1117, #58a6ff);
  color: #fff;
  -webkit-transition: background 0.6s ease;
  transition: background 0.6s ease;
  border: none;
  margin: 10px;
}
.button:hover {
  background: #fff;
  color: black;
}

/*==============================================
/*==============================================
 HEADER
/*==============================================
/*=============================================*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(13, 17, 23, 0.9);
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  font-weight: 700;
}
.nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}
.nav ul li a {
  position: relative;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.nav ul li a::before {
  content: "";
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#58a6ff), to(#0d1117));
  background-image: linear-gradient(90deg, #58a6ff 0%, #0d1117 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}
.nav ul li a:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: -1;
}
.nav__logo {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.nav__logo a {
  color: #58a6ff;
  width: 38px;
  height: 38px;
}
.nav #nav__logo {
  color: #58a6ff;
  fill: transparent;
}
.nav__checkbtn {
  font-size: 30px;
  color: #58a6ff;
  line-height: 70px;
  margin-right: 40px;
  float: right;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.nav #check {
  display: none;
}

/*==============================================
/*==============================================
 MAIN
/*==============================================
/*=============================================*/
.site-main {
  /*==============================================
     /*==============================================
      ABOUT
     /*==============================================
     /*=============================================*/
}
.site-main .site-banner h1 {
  font-size: 5rem;
}
.site-main .site-banner h3 {
  padding-top: 25%;
  font-weight: 500;
}
.site-main .site-banner h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: #58a6ff;
  display: inline-block;
  margin-left: 5%;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
.site-main .site-banner h4 {
  font-size: 1.5rem;
}
.site-main .site-banner span {
  font-size: 5rem;
  position: relative;
  color: #0d1117;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
}
.site-main .site-banner span::before {
  content: attr(data-text);
  position: absolute;
  top: -4px;
  left: 0;
  width: 0;
  height: 100%;
  color: #58a6ff;
  -webkit-text-stroke: 0vw #383d52;
  overflow: hidden;
  -webkit-animation: animateText 6s linear infinite;
          animation: animateText 6s linear infinite;
}
@-webkit-keyframes animateText {
  0%, 10%, 60% {
    width: 0%;
  }
  70%, 90% {
    width: 100%;
  }
}
@keyframes animateText {
  0%, 10%, 60% {
    width: 0%;
  }
  70%, 90% {
    width: 100%;
  }
}
.site-main .site-banner .banner-image > img {
  padding: 1.3rem 0;
  width: 90rem;
}
.site-main .about__container {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  text-align: center;
  row-gap: 2rem;
  margin-top: 2.5rem;
}
.site-main .about__text {
  background: #0d1117;
  -webkit-box-shadow: inset 0 10px 15px #1e242e;
          box-shadow: inset 0 10px 15px #1e242e;
  padding: 20px;
  border-radius: 5px;
}
.site-main .about__subtitle {
  margin-bottom: 5px;
}
.site-main .about__img {
  position: relative;
  width: 300px;
  height: 400px;
  justify-self: center;
  margin-bottom: 20px;
}
.site-main .about__img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.site-main .about__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(88, 166, 255, 0.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.site-main .about__img:hover::after {
  background: none;
}
.site-main .about__img::before {
  content: "";
  position: absolute;
  top: 24px;
  left: -24px;
  width: 300px;
  height: 400px;
  background: transparent;
  border: 2px solid #58a6ff;
  border-radius: 4px;
  z-index: -1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.site-main .about__img:hover::before {
  top: 20px;
  left: -20px;
}

.about,
.services,
.prices,
.skills,
.testimonials {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/*==============================================
/*==============================================
 MEDIA QUERIES
/*==============================================
/*=============================================*/
@media (max-width: 992px) {
  .nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #58a6ff;
    top: 70px;
    left: -100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .nav ul li a {
    font-size: 20px;
  }
  .nav__logo {
    margin-bottom: 0;
  }
  .nav__checkbtn {
    opacity: 1;
    visibility: visible;
    display: block;
  }
  .nav #check:checked ~ ul {
    left: 0;
  }
}
@media (max-width: 952px) {
  .nav ul li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: initial;
  }
  .about__img img {
    width: 300px;
  }

  .contact-me p {
    border-bottom: none;
  }
}
@media only screen and (max-width: 575px) {
  .header .nav {
    margin: 0 60px;
  }
  .header .nav__toggle {
    margin-right: 100px;
  }

  .site-banner {
    margin: 0 14px;
  }
}
@media only screen and (max-width: 340px) {
  .site-main .site-banner .site-title h1 {
    font-size: 41px;
  }

  .site-main .site-banner .site-title span {
    font-size: 41px;
    top: 10px;
  }
  .site-main .site-banner .site-title span::before {
    top: -1px;
  }
}/*# sourceMappingURL=style.css.map */