@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
/*==============================================
GLOBAL STYLES
/*=============================================*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0d1117;
  color: #fff;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #58a6ff;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: #fff;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.8);
          box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.8);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #fff;
}

section {
  padding-top: 120px;
  padding-bottom: 40px;
}

#particles-js {
  position: absolute;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -10;
}

.section-title {
  position: relative;
  text-align: center;
  z-index: 1;
}
.section-title::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: calc(50% - 7px);
  bottom: -16px;
  border-radius: 50%;
  border: 3px solid #58a6ff;
}
.section-title h3 {
  font-weight: 700;
  text-transform: uppercase;
}
.section-title h3::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  left: calc(50% - 45px);
  bottom: -10px;
  background-color: #58a6ff;
}
.section-title h3:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  left: calc(50% + 15px);
  bottom: -10px;
  background-color: #58a6ff;
}

.button {
  padding: 0.8rem 2.2rem;
  font: normal 500 16px/20px "Poppins", sans-serif;
  position: relative;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#0d1117), to(#58a6ff));
  background: linear-gradient(to right, #0d1117, #58a6ff);
  color: #fff;
  -webkit-transition: background 0.6s ease;
  transition: background 0.6s ease;
  border: none;
  margin: 10px;
}
.button:hover {
  background: #fff;
  color: black;
}

.about,
.services,
.prices,
.skills,
.testimonials {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.contact-me,
footer {
  background: url(../img/bg4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

/*==============================================
HEADER
/*=============================================*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(13, 17, 23, 0.9);
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  font-weight: 700;
}
.nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}
.nav ul li a {
  position: relative;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.nav ul li a::before {
  content: "";
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#58a6ff), to(#0d1117));
  background-image: linear-gradient(90deg, #58a6ff 0%, #0d1117 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}
.nav ul li a:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: -1;
}
.nav__logo {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.nav__logo a {
  color: #58a6ff;
  width: 38px;
  height: 38px;
}
.nav #nav__logo {
  color: #58a6ff;
  fill: transparent;
}
.nav__checkbtn {
  font-size: 30px;
  color: #58a6ff;
  line-height: 70px;
  margin-right: 40px;
  float: right;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  display: none;
}
.nav #check {
  display: none;
}

/*==============================================
SITE BANNER
/*=============================================*/
.site-main .site-banner {
  text-transform: uppercase;
}
.site-main .site-banner h1 {
  font-size: 5rem;
}
.site-main .site-banner h3 {
  padding-top: 25%;
  font-weight: 500;
}
.site-main .site-banner h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: #58a6ff;
  display: inline-block;
  margin-left: 5%;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
.site-main .site-banner h4 {
  font-size: 1.5rem;
}
.site-main .site-banner span {
  font-size: 5rem;
  position: relative;
  color: #0d1117;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
}
.site-main .site-banner span::before {
  content: attr(data-text);
  position: absolute;
  top: -4px;
  left: 0;
  width: 0;
  height: 100%;
  color: #58a6ff;
  -webkit-text-stroke: 0vw #383d52;
  overflow: hidden;
  -webkit-animation: animateText 6s linear infinite;
          animation: animateText 6s linear infinite;
}
@-webkit-keyframes animateText {
  0%, 10%, 60% {
    width: 0%;
  }
  70%, 90% {
    width: 100%;
  }
}
@keyframes animateText {
  0%, 10%, 60% {
    width: 0%;
  }
  70%, 90% {
    width: 100%;
  }
}
.site-main .site-banner .banner-image > img {
  padding: 1.3rem 0;
  width: 90rem;
}

/*==============================================
ABOUT
/*=============================================*/
.about__container {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  text-align: center;
  row-gap: 2rem;
  margin-top: 2.5rem;
}
.about__text {
  background: #0d1117;
  -webkit-box-shadow: inset 0 10px 15px #1e242e;
          box-shadow: inset 0 10px 15px #1e242e;
  padding: 20px;
  border-radius: 5px;
}
.about__subtitle {
  margin-bottom: 5px;
}
.about__img {
  position: relative;
  width: 300px;
  height: 400px;
  justify-self: center;
  margin-bottom: 20px;
}
.about__img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.about__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(88, 166, 255, 0.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.about__img:hover::after {
  background: none;
}
.about__img::before {
  content: "";
  position: absolute;
  top: 24px;
  left: -24px;
  width: 300px;
  height: 400px;
  background: transparent;
  border: 2px solid #58a6ff;
  border-radius: 4px;
  z-index: -1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.about__img:hover::before {
  top: 20px;
  left: -20px;
}

/*==============================================
SKILLS
/*=============================================*/
.skills {
  position: relative;
}
.skills .container-skills {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}
.skills .container-skills .card {
  position: relative;
  width: 250px;
  background: transparent;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.8);
          box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 20px;
}
.skills .container-skills .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.5);
}
.skills .container-skills .card .percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 50px #000;
          box-shadow: inset 0 0 50px #000;
  background: var(--black-color);
  z-index: 10;
}
.skills .container-skills .card .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}
.skills .container-skills .card .percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.skills .container-skills .card .percent .number h2 span {
  font-size: 24px;
  color: #777;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.skills .container-skills .card:hover .percent .number h2 {
  color: #fff;
  font-size: 60px;
}
.skills .container-skills .card:hover .percent .number h2 span {
  color: #fff;
}
.skills .container-skills .card .text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.skills .container-skills .card:hover .text {
  color: #fff;
}
.skills .container-skills .card svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}
.skills .container-skills .card svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--black-color);
  stroke-width: 10;
  stroke-linecap: round;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.skills .container-skills .card svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
.skills .container-skills .card:hover svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * var(--i)) / 100);
  stroke: var(--first-color);
}

/*==============================================
SERVICES
/*=============================================*/
.services {
  position: relative;
}
.services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#2196f3), to(#58a6ff));
  background: linear-gradient(#2196f3, #58a6ff);
  -webkit-clip-path: circle(30% at right 70%);
          clip-path: circle(30% at right 70%);
  -webkit-filter: blur(7px);
          filter: blur(7px);
}
.services::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#2196f3), to(#58a6ff));
  background: linear-gradient(#2196f3, #58a6ff);
  -webkit-clip-path: circle(20% at 10% 10%);
          clip-path: circle(20% at 10% 10%);
  -webkit-filter: blur(7px);
          filter: blur(7px);
}
.services .container-services {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
}
.services .container-services .card-services {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  background: #0d1117;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.8);
          box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.8);
  border-radius: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.services .container-services .card-services .content {
  padding: 20px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.services .container-services .card-services .content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 22px;
}
.services .container-services .card-services .content h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}
.services .container-services .card-services .content p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

/*==============================================
PORTFOLIO HOME
/*=============================================*/
.container-full-portfolio {
  padding-bottom: 40px;
}
.container-full-portfolio.background::before {
  content: "Portafolio";
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 16em;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px var(--first-color);
}
.container-full-portfolio .section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
.container-full-portfolio .section h2 {
  margin-left: 200px;
  font-size: 4em;
  color: #fff;
  margin-bottom: 20px;
}
.container-full-portfolio .section .container {
  position: relative;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-full-portfolio .section:nth-child(even) .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.container-full-portfolio .section .container .imgBx {
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.4);
          box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.4);
}
.container-full-portfolio .section .container .imgBx::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(88, 166, 255, 0.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.container-full-portfolio .section .container .imgBx:hover::after {
  background: none;
}
.container-full-portfolio .section .container .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-transition: 5s ease;
  transition: 5s ease;
}
.container-full-portfolio .section .container .imgBx:hover img {
  -o-object-position: bottom;
     object-position: bottom;
}
.container-full-portfolio .section .container .content {
  position: absolute;
  right: 0;
  margin-top: 200px;
  margin-bottom: 40px;
  padding: 40px;
  background: #0d1117;
  z-index: 1;
  max-width: 400px;
  color: #fff;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.4);
          box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.4);
  border-bottom: 6px solid #58a6ff;
}
.container-full-portfolio .section:nth-child(even) .container .content {
  left: 0;
}

/*==============================================
CONTACT ME BANNER
/*=============================================*/
.contact-me {
  margin-top: 80px;
  width: 100%;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.4);
          box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.4);
}
.contact-me p {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid #ffffff;
  text-align: center;
}
.contact-me button {
  width: 200px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: bold;
}

/*==============================================
FOOTER
/*=============================================*/
footer {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.5);
          box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.5);
}
footer p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  color: #58a6ff;
  line-height: 10px;
  margin-bottom: 50px;
}
footer .container-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container-social .social-bottons a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  font-size: 20px;
  width: 60px;
  height: 60px;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 8px;
}
footer .container-social .social-bottons a::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: #58a6ff;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
footer .container-social .social-bottons a:hover::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}
footer .container-social .social-bottons a i {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
footer .container-social .social-bottons a:hover i {
  background: #58a6ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(2);
          transform: scale(2);
}
footer .copyright {
  color: #9b9898;
  font-size: 12px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*==============================================
MEDIA QUERIES
/*=============================================*/
@media (max-width: 992px) {
  .nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #58a6ff;
    top: 70px;
    left: -100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .nav ul li a {
    font-size: 20px;
  }
  .nav__logo {
    margin-bottom: 0;
  }
  .nav__checkbtn {
    opacity: 1;
    visibility: visible;
    display: block;
  }
  .nav #check:checked ~ ul {
    left: 0;
  }
}
@media (max-width: 952px) {
  .nav ul li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) {
  .about__container {
    margin-top: 70px;
  }
}
@media screen and (max-width: 767px) {
  .about__img {
    margin-top: 15px;
  }
  .about__container {
    margin-top: 0;
  }

  .contact-me p {
    border-bottom: none;
  }
}
@media screen and (min-width: 768px) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: initial;
  }
  .about__img img {
    width: 300px;
  }
}
@media only screen and (max-width: 575px) {
  .header .nav {
    margin: 0 60px;
  }
  .header .nav__toggle {
    margin-right: 100px;
  }

  .site-banner {
    margin: 0 14px;
  }
}
@media only screen and (max-width: 340px) {
  .site-main .site-banner .site-title h1 {
    font-size: 41px;
  }

  .site-main .site-banner .site-title span {
    font-size: 41px;
    top: 10px;
  }
  .site-main .site-banner .site-title span::before {
    top: -1px;
  }
}
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem;
  background: #fff;
  border-radius: 0.4rem;
  z-index: 10;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  visibility: hidden;
}
.scrolltop:hover {
  background-color: #58a6ff;
}
.scrolltop__icon {
  font-size: 1.8rem;
  color: #0d1117;
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.first {
  background-color: #58a6ff;
}

.second {
  background-color: #58a6ff;
  left: 33.3%;
}

.third {
  background-color: #58a6ff;
  left: 66.6%;
}/*# sourceMappingURL=style.css.map */