@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
nav.menu {
  position: fixed !important;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

nav.menu .menu_logo,
nav.menu .menu_items-link {
  padding: 40px;
}

nav.menu .menu_logo a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

nav.menu .menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.menu .menu_items-link a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

nav.menu .menu_items-link.active a {
  text-decoration: underline;
}

.certificates_container {
  width: 70%;
  margin: 100px auto;
  color: #fff;
  padding: 120px 40px;
  text-align: center;
}

.certificates_container-title h1 {
  color: #fff;
  font-family: 'GrandSlang Roman';
  font-size: 140px;
}

.certificates_container-subtitle {
  margin: 20px 0;
  font-family: 'Neue Montreal';
  font-size: 16px;
}

.certificates_container-images {
  position: relative;
  width: 100%;
  height: 2000px;
  padding: 40px 0;
}

.certificates_container .certificates_image {
  width: 600px;
  height: 500px;
  margin: 40px auto;
}

.certificates_container .certificates_image-one {
  background: url(../../img/certificates/1.png) no-repeat 50% 50%;
  background-size: cover;
}

.certificates_container .certificates_image-two {
  position: relative;
  top: -100px;
  left: -260px;
  background: url(../../img/certificates/2.png) no-repeat 50% 50%;
  background-size: cover;
}

.certificates_container .certificates_image-three {
  position: relative;
  left: 300px;
  background: url(../../img/certificates/3.png) no-repeat 50% 50%;
  background-size: cover;
}

.certificates_container .certificates_image-four {
  position: relative;
  top: -200px;
  left: -100px;
  background: url(../../img/certificates/4.png) no-repeat 50% 50%;
  background-size: cover;
}

.certificates_container .certificates-next-link {
  position: relative;
  top: -100px;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.certificates_container .certificates-next-link a {
  color: #fff;
  text-decoration: none;
  font-family: 'GrandSlang Roman';
  font-size: 160px;
}

.certificates_container .anime-js-title .letter {
  display: inline-block;
  line-height: 1em;
}

@media (max-width: 900px) {
  .certificates_container-title h1 {
    font-size: 40px;
  }
  .certificates_container {
    width: 80%;
  }
  .certificates_container-images {
    width: 100%;
    margin: 0 auto;
  }
  .certificates_image {
    width: 90%;
  }
  .certificates_image-one,
  .certificates_image-two,
  .certificates_image-three,
  .certificates_image-four {
    position: relative;
    top: 0;
    left: 0;
  }
}
/*# sourceMappingURL=certificates.css.map */