@import "../variables/variables.scss";

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-fixed;
	background-color: rgba(13, 17, 23, 0.9);
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	width: 100%;
	font-weight: $font-bold;

	& ul {
		& li {
			display: inline-block;
			line-height: 70px;
			margin: 0 5px;

			& a {
				position: relative;
				color: $white-color;
				font-size: 13px;
				letter-spacing: 1px;
				padding: 7px 13px;
				border-radius: 3px;
				text-transform: uppercase;

				&::before {
					content: '';
					border-radius: 5px;
					background-image: linear-gradient(90deg, $first-color 0%, $black-color 100%);
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					transform: scale(1, 0);
					transform-origin: bottom;
					transition: transform 500ms ease;
				}

				&:hover::before {
					transform: scale(1, 1);
					transform-origin: top;
					z-index: -1;
				}
			}
		}
	}

	&__logo {
		color: $white-color;
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		& a {
			color: $first-color;
			width: 38px;
			height: 38px;
		}
	}

	& #nav__logo {
		color: $first-color;
		fill: transparent;
	}

	&__checkbtn {
		font-size: 30px;
		color: $first-color;
		line-height: 70px;
		margin-right: 40px;
		float: right;
		cursor: pointer;
		opacity: 0;
		visibility: hidden;
		display: none;
	}

	& #check {
		display: none;
	}
}