@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$header-height: 2.5rem;
$font-bold: 700;
$first-color: #58a6ff;
$black-color: #0d1117;
$white-color: #fff;
$body-font: 'Poppins', sans-serif;
$h1-font-size: 4.5rem;
$h2-font-size: 2rem;
$normal-font-size: 1rem;
$small-font-size: 1.37rem;
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;