@import "./variables/variables.scss";

/*==============================================
    GLOBAL STYLES
/*=============================================*/

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $body-font;
	background-color: $black-color;
	color: $white-color;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

body::-webkit-scrollbar-thumb {
	background: $first-color;
	border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
	background: $white-color;
	box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.8);
}

body::-webkit-scrollbar-thumb:active {
	background-color: $white-color;
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: $white-color;
	}
}

section {
	padding-top: 120px;
	padding-bottom: 40px;
}

.particles-js {
	position: absolute;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: -10;
}

.section-title {
	position: relative;
	text-align: center;
	z-index: $z-normal;

	&::before {
		content: '';
		position: absolute;
		width: 14px;
		height: 14px;
		left: calc(50% - 7px);
		bottom: -16px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		border: 3px solid $first-color;
	}

	& h3 {
		font-weight: $font-bold;
		text-transform: uppercase;

		&::before {
			content: '';
			position: absolute;
			width: 30px;
			height: 3px;
			left: calc(50% - 45px);
			bottom: -10px;
			background-color: $first-color;
		}

		&:after {
			content: '';
			position: absolute;
			width: 30px;
			height: 3px;
			left: calc(50% + 15px);
			bottom: -10px;
			background-color: $first-color;
		}
	}
}

.button {
	padding: 0.8rem 2.2rem;
	font: normal 500 16px/20px $body-font;
	position: relative;
	border-radius: 4px;
	background: linear-gradient(to right, $black-color, $first-color);
	color: $white-color;
	transition: background 0.6s ease;
	border: none;
	margin: 10px;

	&:hover {
		background: $white-color;
		color: black;
	}
}

.about,
.services,
.prices,
.skills,
.testimonials {
	position: relative;
	width: 100%;
	height: 100%;
	background: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.contact-me,
footer {
	background: url(../img/bg4.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

/*==============================================
CONTACT ME BANNER
/*=============================================*/

.contact-me {
	margin-top: 80px;
	width: 100%;
	height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 10px 60px 0px rgba(46, 61, 98, 0.4);

	& p {
		color: #ffffff;
		font-size: 30px;
		font-weight: bold;
		border-bottom: 2px solid #ffffff;
		text-align: center;
	}

	& button {
		width: 200px;
		height: 40px;
		background-color: #ffffff;
		border: none;
		outline: none;
		font-size: 14px;
		font-weight: bold;
	}
}


.scrolltop {
	position: fixed;
	right: 1rem;
	bottom: -20%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.3rem;
	background: $white-color;
	border-radius: 0.4rem;
	z-index: 10;
	transition: 0.4s;
	visibility: hidden;

	&:hover {
		background-color: $first-color;
	}

	&__icon {
		font-size: 1.8rem;
		color: $black-color;
	}
}

.show-scroll {
	visibility: visible;
	bottom: 1.5rem;
}

@import "./header/header.scss";
@import "./site-main/siteMain.scss";
@import "./about/about.scss";
@import "./skills/skills.scss";
@import "./servicesPage/services.scss";
@import "./portfolio/portfolio.scss";
@import "./prices/prices.scss";
@import "./testimonials/testimonials.scss";
@import "./contact/contact.scss";
@import "./footer/footer.scss";

@import "./certificates/certificates.scss";
@import "./media-queries/mediaQueries.scss";